<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 迷雾三神 - 不虚此行学习中</title>
<script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
	  <button v-on:click="doclear">重置</button>
	
<p>房主 <input  type="text"  v-on:change="doChange" style="width:40px"   v-model="房主" placeholder=""></p>
	<p>下课 <input  type="text"  v-on:change="doChange" style="width:40px"   v-model="下课" placeholder="">	  <button v-on:click="dotime">开始游戏</button></p>
<p>魔女 <input   type="text"   v-on:change="doChange"  style="width:40px"   v-model="魔女" placeholder="" ></p>
<p>摄梦人 <input  type="text"  v-on:change="doChange" style="width:40px"   v-model="摄梦人" placeholder=""></p>
<p>预言家 <input  type="text" v-on:change="doChange" style="width:40px"   v-model="预言家" placeholder=""></p>
<p>白痴 <input  type="text"  v-on:change="doChange" style="width:40px"   v-model="白痴" placeholder=""></p>
<p>狼人 <input  type="text"  v-on:change="doChange" style="width:40px"   v-model="狼1" placeholder="">
	<input  type="text"   v-on:change="doChange" style="width:40px"   v-model="狼2" placeholder="">
	<input  type="text" v-on:change="doChange"  style="width:40px"   v-model="狼3" placeholder=""> 
	</p>
	<p>狼鸦 <input  type="text"  v-on:change="doChange"  style="width:40px"   v-model="狼鸦" placeholder=""></p>
	<p>首刀 <input  type="text"  v-on:change="doChange"  style="width:40px"   v-model="首刀" placeholder=""></p>
	<p>平民 <input  type="text"  style="width:40px"   v-model="平民1" placeholder="">
	<input  type="text"  style="width:40px"   v-model="平民2" placeholder="">
	<input  type="text"  style="width:40px"   v-model="平民3" placeholder="">
	<input  type="text"  style="width:40px"   v-model="平民4" placeholder="">
	</p>
<p>卡狼<input  type="text" v-on:change="doChange"  style="width:40px"   v-model="卡狼" placeholder=""> 替卡狼
	<input  type="text" v-on:change="doChange"  style="width:40px"   v-model="替卡狼" placeholder=""> </p>
<p>卡民	<input  type="text"  style="width:40px"   v-model="卡民" placeholder=""> 替卡民	<input  type="text"  v-on:change="doChange"  style="width:40px"   v-model="替卡民" placeholder=""> 替卡神 <input  type="text" v-on:change="doChange" style="width:40px"   v-model="替卡神" placeholder=""> </p>
	 <p>{{ 报错 }}  </p>
     <p>{{ 下课时间 }}  </p>
	 <p>{{ 卡时间 }}  </p>
	 <p>{{ 预言家工作 }}  </p>
     <p>{{ 第一天 }}  </p>
	 <p>{{ 第二天 }}  </p>
	 <p>{{ 第三天 }}  </p>
	 <p>{{ 第四天 }}  </p>
</div>

<script>
new Vue({
  el: '#app',
  data: {
	房主:'1',
    魔女: '',
	摄梦人: '',
	预言家:'',
	白痴:'',
	狼1:'',
	狼2:'',
	狼3:'',
	狼鸦:'',
	平民1:'',
	平民2:'',
	平民3:'',
	平民4:'',
	卡狼:'',
	卡民:'',
	替卡狼:'',
	替卡民:'',
	替卡神:'',
	卡时间:'',
	预言家工作:'',
	第一天:'',
	第二天:'',
	第三天:'',
	第四天:'',
	报错:'',
	下课:'',
	下课时间:'',
	首刀:'',
  }  , 
	methods: {
		doclear()
		{
     this.魔女= '';
	this.摄梦人= '';
	this.预言家='';
	this.白痴='';
	this.狼1='';
	this.狼2='';
	this.狼3='';
	this.狼鸦='';
	this.平民1='';
	this.平民2='';
	this.平民3='';
	this.平民4='';
	this.卡狼='';
	this.卡民='';
	this.替卡狼='';
	this.替卡民='';
	this.替卡神='';
	this.卡时间='';
	this.预言家工作='';
	this.第一天='';
	this.第二天='';
	this.第三天='';
	this.第四天='';
	this.报错='';
     this.下课='';
	this.下课时间='';
		},
		dotime()
		{
	var m=	 new Date().getMinutes();
			m= Number(m)+21;
		this.下课=m%60;
		},
     doChange()
		{
            if(this.魔女>0&&this.摄梦人>0&&this.预言家>0&&this.白痴>0&&this.狼1>0&&this.狼2>0&&this.狼3>0&&this.狼鸦>0)
			{
			 var 全部号码= ['1','2','3','4','5','6','7','8','9','10','11','12'];
				//剔除已有身份以计算平民身份
				Vue.delete(全部号码,全部号码.indexOf(this.魔女));
				Vue.delete(全部号码,全部号码.indexOf(this.摄梦人));
				Vue.delete(全部号码,全部号码.indexOf(this.预言家));
				Vue.delete(全部号码,全部号码.indexOf(this.白痴));
				Vue.delete(全部号码,全部号码.indexOf(this.狼1));
				Vue.delete(全部号码,全部号码.indexOf(this.狼2));
				Vue.delete(全部号码,全部号码.indexOf(this.狼3));
			    Vue.delete(全部号码,全部号码.indexOf(this.狼鸦));
			    if(全部号码.length>4)
				{
					this.报错='号码录入有误,请核查!';
				this.平民1='';	
				this.平民2='';	
				this.平民3='';	
				this.平民4='';
			    this.卡时间='';
					this.预言家工作='';
					this.第一天='';
					this.第二天='';
					this.第三天='';
					this.第四天='';
					this.下课='';
					this.下课时间='';
				return;
				}
				this.报错='';
				this.平民1=全部号码[0];	
				this.平民2=全部号码[1];	
				this.平民3=全部号码[2];	
				this.平民4=全部号码[3];	
				this.docount();
			}
		},
		docount()
		{
			var 卡民='';
			let 民坑=[];//因为排序是按字符串排序 10排在2前面  所以所有数字除以2
			if(this.平民1-this.预言家<0)
			{
		     民坑.push((this.平民1-this.预言家+12)/2);
			}else
			{
			 民坑.push((this.平民1-this.预言家)/2);
			}
			
			if(this.平民2-this.预言家<0)
			{
		     民坑.push((this.平民2-this.预言家+12)/2);
			}else
			{
			 民坑.push((this.平民2-this.预言家)/2);
			}
			
		    if(this.平民3-this.预言家<0)
			{
		     民坑.push((this.平民3-this.预言家+12)/2);
			}else
			{
			 民坑.push((this.平民3-this.预言家)/2);
			}
		    if(this.平民4-this.预言家<0)
			{
		     民坑.push((this.平民4-this.预言家+12)/2);
			}else
			{
			 民坑.push((this.平民4-this.预言家)/2);
			}
	
			民坑=民坑.sort();
			var 新民坑=[];
			var 不卡民=[];
	        民坑.forEach((v, i) => {
			 let a=Number(2*v);
			 a=a+Number(this.预言家);
				if(a>12)
				{
					a=a-12;
				}
				新民坑.push(a);
			});
			if(新民坑[0]-this.房主===0)
			{
				卡民=this.卡民=新民坑[1];
			}else
			{
				卡民=this.卡民=新民坑[0];
			}
			if(this.替卡民>0&&新民坑.indexOf(Number(this.替卡民))>=0)
			{//判断替卡民是否真的是个民
				卡民=this.替卡民;
			}
			新民坑.forEach((v, i) => {
				if(v!=卡民)
				{
					if(v-this.房主===0)
					{//如果是房主把房主放到第一个不卡民那里
						不卡民.unshift(v);
					}else
					{	不卡民.push(v);
					}
				}
			});
			if(卡民-this.卡民!=0)
			{//有人替卡 就把被替卡的卡民放最后
				Vue.delete(不卡民,不卡民.indexOf(this.卡民));
				不卡民.push(this.卡民);
			}
			
			var 卡狼='';
			let 狼坑=[];//因为排序是按字符串排序 10排在2前面  所以所有数字除以2
			if(this.狼1-this.预言家<0)
			{
		     狼坑.push((this.狼1-this.预言家+12)/2);
			}else
			{
			 狼坑.push((this.狼1-this.预言家)/2);
			}
			
			if(this.狼2-this.预言家<0)
			{
		     狼坑.push((this.狼2-this.预言家+12)/2);
			}else
			{
			 狼坑.push((this.狼2-this.预言家)/2);
			}
			
		    if(this.狼3-this.预言家<0)
			{
		     狼坑.push((this.狼3-this.预言家+12)/2);
			}else
			{
			 狼坑.push((this.狼3-this.预言家)/2);
			}

	
			狼坑=狼坑.sort();
			var 新狼坑=[];
			var 不卡狼=[];
	        狼坑.forEach((v, i) => {
			 let a=Number(2*v);
			 a=a+Number(this.预言家);
				if(a>12)
				{
					a=a-12;
				}
				新狼坑.push(a);
			});
			if(新狼坑[0]-this.房主===0)
			{
				卡狼=this.卡狼=新狼坑[1];
			}else
			{
				卡狼=this.卡狼=新狼坑[0];
			}
			if(this.替卡狼>0&&新狼坑.indexOf(Number(this.替卡狼))>=0)
			{//判断替卡狼是否真的是个狼
				卡狼=this.替卡狼;
			}else if(this.替卡狼>0&&this.替卡狼-this.狼鸦===0)
			{
				卡狼=this.替卡狼;
			}
			新狼坑.forEach((v, i) => {
				if(v!=卡狼)
				{
					if(v-this.房主===0)
					{//如果是房主把房主放到第一个不卡狼那里
						不卡狼.unshift(v);
					}else
					{	不卡狼.push(v);
					}
				}
			});

			
			if(不卡狼[0]-this.首刀===0)
			{
				var 不0=不卡狼[1];
				var 不1=不卡狼[0];
				不卡狼[0]=不0;
				不卡狼[1]=不1;
			}
			if(卡狼-this.狼鸦===0){
			}
                                                else
			{
				不卡狼.push(this.狼鸦);
			}
			if(卡狼-this.卡狼!=0)
			{//有人替卡 就把被替卡的卡狼放最后
				Vue.delete(不卡狼,不卡狼.indexOf(this.卡狼));
				不卡狼.push(this.卡狼);
			}
			var 卡神=this.预言家;
			if(this.预言家-this.房主===0)
			{
                                                        卡神=this.魔女;
			}
			
			if(this.替卡神-this.白痴===0)
			{
				      卡神=this.白痴;
			}else if(this.替卡神-this.预言家===0)
			{
					  卡神=this.预言家;
			}else if(this.替卡神-this.魔女===0)
			{
					  卡神=this.魔女;
			}
			this.第一天=不卡狼[0]+'自爆 魔女救人,魔女圈'+不卡狼[1]+'  '+不卡狼[2]+'  '+卡狼+' ' +"刀梦"+不卡狼[2];
			this.第二天=不卡狼[1]+'自爆 小刀'+this.摄梦人+'大刀'+不卡民[0]+' 梦'+不卡狼[2];
			this.预言家工作='预言家查验顺序:'+不卡狼[1]+'  '+不卡狼[2]+'  '+卡狼;
			this.第三天="出"+不卡民[1];
		    this.第四天="出"+不卡民[2];
			if(卡神===this.预言家)
			{
				if(this.魔女-this.房主===0)
				{
					this.第三天+='刀'+this.魔女;
					this.第四天+='刀'+this.白痴;
				}else
				{
					this.第三天+='刀'+this.白痴;
					this.第四天+='刀'+this.魔女;
				}
			}
			else if(卡神===this.魔女)
			{
				if(this.预言家-this.房主===0)
				{
					this.第三天+='刀'+this.预言家;
					this.第四天+='刀'+this.白痴;
				}else
				{
					this.第三天+='刀'+this.白痴;
					this.第四天+='刀'+this.预言家;
				}
			}
			else if(卡神===this.白痴)
			{
				if(this.预言家-this.房主===0)
				{
					this.第三天+='刀'+this.预言家;
					this.第四天+='刀'+this.魔女;
				}else
				{
					this.第三天+='刀'+this.魔女;
					this.第四天+='刀'+this.预言家;
				}
			}
			this.卡时间='卡时间:'+卡神+' '+卡民+' 狼'+卡狼;
			this.下课时间='下课时间:'+this.下课;
		}
	}
})
</script>
</body>
</html>
